
      <section class="ft-main">
        <div class="ft-main-item">
          <h2 class="ft-title">Despre</h2>
          <ul>
            <li><a href="#">Servicii</a></li>
            <li><a href="#">Tehnologie Renault</a></li>
            <li><a href="#">Clienti</a></li>
            <li><a href="#">Cariere</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Resurse</h2>
          <ul>
            <li><a href="#">Blog</a></li>
            <li><a href="#">eBooks</a></li>
            <li><a href="#">Webinars</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Contact</h2>
          <ul>
            <li><a href="contact.html">Contacteaza-ne online</a></li>
            <li><a href="contact.html">Locatii</a></li>
            <li><a href="#">Call-center:131.445</a></li>
          </ul>
        </div>
        <div class="ft-main-item">
          <h2 class="ft-title">Fii la curent</h2>
          <p>Aboneaza-te la newsletter-ul nostru pentru a primi ultimele noutati.</p>
          <form>
            <input type="email" name="email" placeholder="Enter email address">
            <input type="submit" value="Subscribe">
          </form>
        </div>
       </section>
    
      <!-- Footer social -->
      <section class="ft-social">
        <ul class="ft-social-list">
          <li><a href="#"><img src="../../Uploads/Images/insta_footer.jpg" alt="insta_footer.jpg"></a></li>
          <li><a href="#"><img  src="../../Uploads/Images/twiter_footer.jpg" alt="twiter_footer.jpg"></a></li>
          <li><a href="#"><img src="../../Uploads/Images/facebook_footer.jpg" alt="facebook_footer.jpg"></a></li>
          <li><a href="#"><img src="../../Uploads/Images/youtube_footer.jpg" alt="youtube_footer.jpg"></a></li>
        </ul>
      </section>
       <!-- Footer legal -->
<section class="ft-legal">
  <ul class="ft-legal-list">
    <li><a href="#">Terms &amp; Conditions</a></li>
    <li><a href="#">Privacy Policy</a></li>
    <li>&copy; 2019 Copyright Nowrap Inc.</li>
  </ul>
</section>