<!DOCTYPE html>
<html lang="ro">
	<head>
		<meta charset="UTF-8"/>
		<title>404</title>
		<script src="starter.js">
		</script>
		<link rel="stylesheet" type="text/css" href="starter.css"/>
	</head>
	<body>
		<h1>Eroare 404</h1>
		<h2>Cu parere de rau tin sa anunt ca ai eroare. Pacat, azi fara internet.</h2>
	</body>
</html>