<!DOCTYPE html>
<html lang="ro">
 <head> 
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title> Showroom Renault </title>
     <link rel = "stylesheet" href="../../css/style.css">
     <link rel ="stylesheet" href="../../css/cere_oferta.css">
     <link rel="shortcut icon" type="image/png" href="../../Uploads/Images/favicon.png">
     
     
 </head>
 <body>
<header>
    <h1> SHOWROOM  RENAULT</h1>
    <nav>
           
     
       <div class ="dropdown">
            <button class="dropbtn"> Acasa 
               
            </button>
            <div class ="dropdown-content">
                <a href="#despre_noi">Despre Noi</a>
                <a href="#istoria_renault"> Istoria Renault Romania</a> 
            </div>
        </div>

       <div class="dropdown">
           <button class="dropbtn"> Auto Noi
            
           </button>
           <div class = "dropdown-content">
               <a href="newcars"> Catalog auto noi</a>
               <a href="masini"> Anunturi auto noi </a>
               <a href="example_form"> Exemplul formular cerere </a>
               <a href="conditions"> Conditii pentru achizitionare</a> 
           </div> 
        </div> 
       <div class="dropdown">
            <button class="dropbtn"> Contact 
               </button>
            <div class="dropdown-content">
                <a href="contact" id="contact_us"> Contacteaza-ne</a> 
            </div>  
        </div>
        
    
    </nav>
  
</header>




        <h3 style="text-align:center"> Formular cerere oferta </h3> 
        <form class="form-container">
               
            Nume:<br>
             
                <input class="form-box" type="text" name="Nume"><br>
                         Prenume:<br>
                        <input type="text" name="Prenume" class="form-box"><br>
                 
                
                Masina dortia:<br>
         
                        <input class="form-box" type="text" name="Masina dorita"> <br>
               
                Nivelul de echipare(dynamic/passion/active): <br>
                <input class="form-box" type="text" name="Nivelul de echipare"> <br>
                
                
                        <button class="button" type="submit">  Trimite cererea</button>

                

              </form>
</body>
</html>