<!DOCTYPE html>
<html lang="ro">
 <head> 
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title> Showroom Renault </title>
     <link type = text/css rel = "stylesheet" href="../../css/style.css">
     <link type = text/css rel="stylesheet" href="../../css/slide_images.css">
     <link type = text/css rel="shortcut icon" type="image/png" href="../../Uploads/Images/favicon.png">
   
     
 </head>
 <body>
<header>
    <h1> SHOWROOM  RENAULT</h1>
    

    <nav>
          
     
       <a href="index"> Acasa </a>

       <div class="dropdown">
           <button class="dropbtn"> Auto Noi
    
           </button>
           <div class = "dropdown-content">
               <a href="newcars"> Catalog auto noi</a>
               <a href="masini"> Anunturi auto noi </a>
               <a href="example_form"> Exemplul formular cerere </a>
               <a href="conditions"> Conditii pentru achizitionare</a> 
           </div> 
        </div> 
       <div class="dropdown">
            <button class="dropbtn"> Contact 
            
            </button>
            <div class="dropdown-content">
                <a href="contact" id="contact_us"> Contacteaza-ne</a> 
            </div>  
        </div>
        <div class ="dropdown", style="margin-left:3vw">
          <a href="my_account">Contul meu</a>
  </div>
       
    </nav>
    <div id="rotitor"></div>
</header>

    <img src="../../Uploads/Images/data_megane1.jpg" alt="Date Tehnice" style="margin-left:0%">
  
    <footer>
        <!-- Footer main -->
        <section class="ft-main">
          <div class="ft-main-item">
            <h2 class="ft-title">Despre</h2>
            <ul>
              <li><a href="#">Servicii</a></li>
              <li><a href="#">Tehnologie Renault</a></li>
              <li><a href="#">Clienti</a></li>
              <li><a href="#">Cariere</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Resurse</h2>
            <ul>
              <li><a href="#">Blog</a></li>
              <li><a href="#">eBooks</a></li>
              <li><a href="#">Webinars</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Contact</h2>
            <ul>
              <li><a href="contact.html">Contacteaza-ne online</a></li>
              <li><a href="contact.html">Locatii</a></li>
              <li><a href="#">Call-center:131.445</a></li>
            </ul>
          </div>
          <div class="ft-main-item">
            <h2 class="ft-title">Fii la curent</h2>
            <p>Aboneaza-te la newsletter-ul nostru pentru a primi ultimele noutati.</p>
            <form>
              <input type="email" name="email" placeholder="Enter email address">
              <input type="submit" value="Subscribe">
            </form>
          </div>
         </section>
      
        <!-- Footer social -->
        <section class="ft-social">
          <ul class="ft-social-list">
            <li><a href="#"><img src="insta_footer.jpg" alt="insta_footer.jpg"></a></li>
            <li><a href="#"><img  src="twiter_footer.jpg" alt="twiter_footer.jpg"></a></li>
            <li><a href="#"><img src="facebook_footer.jpg" alt="facebook_footer.jpg"></a></li>
            <li><a href="#"><img src="youtube_footer.jpg" alt="youtube_footer.jpg"></a></li>
          </ul>
        </section>
         <!-- Footer legal -->
  <section class="ft-legal">
    <ul class="ft-legal-list">
      <li><a href="#">Terms &amp; Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
      <li>&copy; 2019 Copyright Nowrap Inc.</li>
    </ul>
  </section>
</footer>
</body>