<!DOCTYPE html>
<html lang="en">
    <head>

        <title> Pagina de delogare </title>
        <meta charset="utf-8">
        <meta name="author" content="Ionel"/>
        <link type="text/css" rel="stylesheet" href="../css/style.css">

    </head>
    <body>
        <header>
            <%- include("../fragmente/header"); %>
      </header>
      <main>
          Ai fost delogat!
      </main>

      <footer>
          <%- include("../fragmente/footer"); %>
      </footer>

    </body>

    </html>
   
    