<!DOCTYPE html>
<html lang="ro">
 <head> 
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title> Showroom Renault </title>
     <link type = text/css rel = "stylesheet" href="../../css/style.css">
     <link type = text/css rel = "stylesheet" href="../../css/newcars_style.css">
     <link type = text/css rel="shortcut icon" type="image/png" href="../../Uploads/Images/favicon.png">
 </head>
<body>
<header>
  <%- include("../fragmente/header"); %>
</header>
    <h3> AUTO NOI </h3>
    <section class="grid-container">
        <div class="grid-item"> 
                <h2> Renault Megane</h2>
            <div class ="grid-item-image">
              <img src="../../Uploads/Images/megane1.jpg" alt="Renault Megane">
              </div>
              <p>  Un profil elegant si dinamic, un habitaclu high-tech si finisaje de calitate... Renault MEGANE atrage toate privirile.</p>
              <div class = "group-buttons" >
               <a class="button" href="date_tehnice">Date Tehnice</a>
               <a class="button" href="cere_oferta">Cere Oferta</a>
               
               </div>
            </div>
        <div class="grid-item">
            <h2> Renault Clio </h2>
            <div class = "grid-item-image">
                    <img src = "../../Uploads/Images/clio1.jpg" alt="Renault Clio">
            </div>
            <p> Cu designul sau modern si liniile elegante, CLIO Collection te cucereste de la prima vedere. Datorita gamei extinse de culori disponibile, poti sa personalizezi acest model asa cum iti doresti. </p>
             <div class = "group-buttons" >
                    <a class="button" href="date_tehnice">Date Tehnice</a>
                    <a class="button" href="cere_oferta">Cere Oferta</a>
                        
            </div>
        </div>
        <div class = "grid-item">
            <h2> Renault Captur </h2>
            <div class = "grid-item-image">
                    <img src = "../../Uploads/Images/captur1.jpg" alt = "Renault Captur">
                </div>
                <p> Renault CAPTUR este acum mai modern si ofera mai multe optiuni de personalizare, pentru
                        a raspunde mai bine cerintelor tale.</p>
                        <div class = "group-buttons" >
                        <a class="button" href="date_tehnice">Date Tehnice</a>
                        <a class="button" href="cere_oferta">Cere Oferta</a>
                        
        
                    </div>
                </div>
            <div class = "grid-item">
            <h2> Renault Clio Estate </h2>
            <div class = "grid-item-image">
                    <img src = "../../Uploads/Images/clio_estate1.jpg" alt = "Renault Clio Estate">
                </div>
                <p>Descoperă CLIO Estate, o masină ce dispune de un portbagaj care te va incanta. </p>
                <div class = "group-buttons" >
                        <a class="button" href="date_tehnice">Date Tehnice</a>
                        <a class="button" href="cere_oferta">Cere Oferta</a>     
                </div>
            </div>
        <div class = "grid-item"> 
            <h2> Renault Megane Estate </h2>
            <div class = "grid-item-image">
                        <img src = "../../Uploads/Images/megane_estate1.jpg" alt = "Renault Megane Estate">
            </div>
            <p> Cu un comportament rutier imbunatatit, alaturi de un design senzual si dinamic al caroseriei, Renault MEGANE Estate are tot ce-i trebuie pentru a se face remarcat si a atrage privirile. </p>
            
            <div class = "group-buttons" >
            <a class="button" href="date_tehnice">Date Tehnice</a>
            <a class="button" href="cere_oferta">Cere Oferta</a>
            </div>
        </div>
        <div class = "grid-item"> 
            <h2> Renault Kadjar </h2>
            <div class = "grid-item-image">
                    <img src = "../../Uploads/Images/kadjar1.jpg" alt = "Renault Kadjar">
                </div>
                <p> KADJAR revine cu un design mai atractiv. Pe sosea, noua grila fata, barele reproiectate, farurile cu LED si jantele din aliaj usor, de 19 inch, atrag toate privirile. Nici habitaclul nu trece neobservat, cu tapiterie din piele, finisaje si detalii de inalta calitate.</p>
                <div class = "group-buttons" >
                <a class="button" href="date_tehnice">Date Tehnice</a>
               <a class="button" href="cere_oferta">Cere Oferta</a> 
               </div>
            </div>
        <div class = "grid-item">
                <h2> Renault Clio RS </h2>
                <div class = "grid-item-image">
                        <img src = "../../Uploads/Images/clio_rs1.jpg" alt = "Renault Clio RS">
                    </div>
                    <p> Renault CLIO cucereste prin designul sau expresiv si elegant. E o prezenta seducatoare si e perfect pentru cei care adora sa fie in centrul atentiei. Functionalitatile si accesoriile modelului il transforma in unul dintre cele mai iubite autoturisme Renault</p>
                    <div class = "group-buttons" >
                        <a class="button" href="date_tehnice">Date Tehnice</a>
                        <a class="button" href="cere_oferta">Cere Oferta</a> 
                        </div>
                    </div>
            <div class = "grid-item"> 
                <h2> Renault Megane GT </h2>
                <div class = "grid-item-image">
                        <img src = "../../Uploads/Images/megane_gt1.jpg" alt = "Renault Megane GT">
                    </div>
                    <p>Un profil elegant si dinamic, un habitaclu high-tech si finisaje de calitate... Renault MEGANE atrage toate privirile. </p>
                    <div class = "group-buttons" >
                    <a class="button" href="date_tehnice">Date Tehnice</a>
                    <a class="button" href="cere_oferta">Cere Oferta</a>
                    </div>
            </div>
            <div class = "grid-item"> 
                <h2> Renault Talisman </h2>
                <div class = "grid-item-image">
                        <img src = "../../Uploads/Images/talisman1.jpg" alt = "Renault Talisman">
                    </div>
                    <p> O berlina aerodinamica.
                            Confortabil si sofisticat, Renault TALISMAN se remarca prin eleganta si stil atractiv. </p>
                            <div class = "group-buttons" >
                            <a class="button" href="date_tehnice">Date Tehnice</a>
                            <a class="button" href="cere_oferta">Cere Oferta</a>
                
                            </div>
             </div>
     </section>
     <section id="test_drive_button"> 
         <a class="button" href="test_drive"> Programeaza un test-drive </a>
         
        </section>
        <footer>
          <%- include("../fragmente/footer"); %>
    </footer>
</body>